<!DOCTYPE HTML>

<html lang="en">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css">

    <title>River See Development</title>

</head>

<body>


<p class="dev-content-inner">

<strong><i>RIVER SEE PARTNERS!</i></strong><br><br>

<strong>National Performance Network (NPN) Creation Fund</strong><br>
River See is a 2012 NPN Creation Fund Project co-commissioned by Links Hall in<br> 
partnership with Living Arts of Tulsa,<br> Diaspora Vibe Cultural Arts Incubator,<br>Pillsbury<br> 
House Theatre,<br> The Theater Offensive,<br> and NPN. The Creation Fund is supported by<br> 
the Doris Duke Charitable Foundation,<br> Ford Foundation,<br> and the National Endowment<br> 
for the Arts (a federal agency). For more information: National Performance Network.<br><br> 

<strong>The MAP Fund</strong><br>
MAP awarded Pillsbury House Theatre a 2012 grant in support of River See!!!<br> 
Our MAP Funded workshop production took place 4/13/13-4/21/13.<br><br> 

<strong>Links Hall</strong>
I owe a special Sea of THANKS to Roell Schmidt,<br> Director of Links Hall,<br> for believing<br> in me/for midwifing this project to Life. Roell’s hard work and Vision/her Producing<br> skills<br> 
have put this baby on da road! WOOOHOOO!!<br> 
River See lead commissioner,<br> Links Hall received support from: The National<br> 
Performance Network Forth Fund; The Theatre School at DePaul University; A 2012<br> 
grant from The Albert Pick Jr. Fund; Arts Midwest funds; South Side Community Center;<br> 
and The University of Chicago Rockefeller Memorial Chapel.<br><br> 

<strong>Ellen Stone Belic Institute</strong>
River See received funding in 2012 from The Ellen Stone Belic Institute for the Study<br> of Women & Gender in the Arts & Media.<br><br>

<strong>New Dramatists Creativity Fund</strong>
River See received development support from New Dramatists Creativity Fund,<br> a<br> 
program made possible by a generous grant from the Andrew W. Mellon Foundation.<br>  
The work happened at New Dramatists,<br> NYC,<br> 9/2012.<br><br>  
<img class="dev-image" src="{{ STATIC_URL }}img/p-p1.png"><br><br>

*River See received $20,<br>917 on USA Projects (AKA Hatchfund) July 2013 

<strong>THANKS TO YOU...</strong><br><br> 

<strong>CONJURERS</strong><br><br>

Adelina Anthony,<br>
Rena Braud,<br>
Heather Bishop,<br>
Arielle Brown,<br>
Heather Burmeister,<br>
Mellie von Butcha,<br>
Charlotte Canning,<br>
Leigh Gaymon-Jones,<br>
Daniel Alexander Jones,<br> Jeannie Jones,<br>
Sonja & Joe Lewis,<br>
Polly Carl,<br>
Emily Cicchini,<br>
Gabrielle Civil,<br>
Grisha Coleman,<br>
Anastasia Coon,<br>
Laura Di Piazza,<br>
Daniel Dodd,<br>
Bianca Flores,<br>
Anita Gonzalez,<br>
Cheryl Green,<br>
Brian Herrera,<br>
Donna Hoffman,<br>
Kelly Howe,<br>
Brian Joseph,<br>
Cory Kahane,<br>
Carson Kreitzer,<br>
J Layne,<br>
Karla Legaspy,<br>
Tara Parker,<br>
Maria Poblet,<br>
Jaclyn Pryor,<br>
Jennifer Margulies & Jax Cuevas,<br>
Laurence McGonigal,<br>
Chiori Miyagawa,<br>
Patricia Nguyen,<br>
Melynda Price,<br>
L Ramakrishnan,<br>
Ramon H Rivera-Servera,<br>
Colin Denby Swanson,<br>
Joel Valentin-Martinez,<br>
Jacqueline Anderson,<br>
Rajasvini Bhansali & Keisha Adams,<br>
Monique Cortez & Steve Tseng,<br>
Priscilla Hale & Rose Pulliam,<br>
E. Patrick Johnson,<br>
Annette Lawrence & Shay Youngblood,<br>
Courtney & Regina McNabb,<br>
Wura-Natasha Ogunji,<br>
Sheree Ross,<br>
Gregory Storella,<br>
Aimee Suzara,<br>
Kelly Tsai,<br>
Katie Ka Vang,<br>
Timothy West,<br>
Ni’ja Whitson.<br><br> 

<strong>RIVER GUIDES</strong><br><br>
Robin Bernstein,<br>
Patricia Bishop,<br>
Joanna Brooks,<br>
Consuella Brown,<br>
Lisa D’Amour,<br>
Marie Casimir,<br>
Misty DeBerry,<br>
Sandra Dempsey,<br>
Julie Enszer,<br>
Rebecca Frost,<br>
Lyndon Gill,<br>
Diana Gorham,<br>
Pamela Hart,<br>
Cynthia Huyser,<br>
Glenroy James,<br>
Theresa Kwilosz,<br>
Dalila Mendez,<br>
Maiana Minahal,<br>
Irma Mayorga,<br>
Robbie McCauley,<br>
Mankwe Ndosi,<br>
Thao Nguyen,<br>
Miranda Olzman,<br>
Deborah Paredez & Frank Guridy,<br>
Ana Perea,<br> Martin Perna & Courtney Morris,<br>
Francesca Royster & Ann Russo,<br>
Elisa Durrette & Ruth McFarlane,<br>
Sarah Hoagland & Anne Leighton,<br>
Francisco & Lorrain Perea,<br>
Sonja Perryman,<br>
Dalila Mendez,<br>
Abraham Rybeck,<br>
Eleanor Savage,<br>
Willa Taylor,<br>
Shane Walley,<br>
Sara Warner,<br>
Harry Waters Jr.,<br>
Debra Winegarten,<br>
Marcy & Anton Witherspoon.<br><br> 

<strong>WARRIORS</strong><br><br>
Jill Dolan & Stacy Wolf,<br>
Frances Jones,<br>
Maureen & Paul Perea.<br> 

<strong>SEE SHOUTERS</strong><br><br>
Carla Carter,<br>
Martha Ramos Duffer,<br>
Omi Osun Joni L. Jones.<br><br> 

We celebrate all the donors above/all those that donated anonymously/all of youthat helped<br> 
spread the word/those of you that sent cheers and Energy and Love and Prayers...THANK 
YOU!!!<br> Your support is HUGE humbling - Blessing.<br><br>
<img class="dev-image" src="{{ STATIC_URL }}img/p-p2.png"><br><br>


</p>

</body>

</html>