<!DOCTYPE HTML>

<html lang="en">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css">

    <title>River See Development</title>

</head>

<body >

<p class="dev-content-inner">
<strong>Below is a list of River See developmental workshop/experiments</strong><br>
Some were open to the public, some were not. Some included myself and SEE,<br>
some included additional cast members (cast size varied).<br> 
Sometimes I composed with the audience and no cast.<br> 
Total rehearsal time varied, from none, to 3 hours, to two weeks.<br>
<strong>These workshop/experiments have provided</strong><br>
time, space, and resource centered on: completing the River See performance/<br>
novel and performance script (which is excerpted from the performance/novel);<br> 
discovering what it means to perform as Composer in the piece as it unfolds live;<br> 
physical language that I use to communicate composition instructions;<br> 
experimentation with space/with reconstructing notions of what it means to make<br> 
performance using technologies traditional to people of color; refining<br> 
intersections of art, healing, science and a spiritual art practice that is Jazz.<br>
<strong>River See workshop/experiments received LOTS of support</strong> from sources<br>
including the MAP Fund and a National Performance Network (NPN) Creation<br> 
Fund award, co-commissioned by Links Hall in partnership with Living Arts of<br> 
Tulsa, Diaspora Vibe Cultural Arts Incubator, Pillsbury House Theatre, The Theater<br> 
Offensive, and NPN. Full listing of River See funders on PARTNERS page.<br>
<strong>#18. Diaspora Vibe Cultural Arts Incubator in Miami.</strong><br>
<img class="dev-image" src="{{ STATIC_URL }}img/dev-p1.png"><br>
<strong>I wasin Residence/Writing 5/24/13-5/29/13</strong><br>  
With Omi Osun Joni L. Jones – Dramaturge<br>  
Focus was on completing the script and planning meetings/for our<br>  
upcoming workshop production.<br> 
<strong>#17. Black Lavender Experience 2013. Brown University.</strong><br>  
Sharon Bridgforth Writer/Composer With The Audience.<br> 
7 PM. April 6, 2013. Rites and Reasons Theatre, George Houston Bass<br>  
Performing Arts Space,<br>  
Churchill House 156 Angel Street, Providence, RI.<br> 
<strong>#16. MAP Fund Workshop Production, Pillsbury House Theatre.</strong><br>
<img class="dev-image" src="{{ STATIC_URL }}img/dev-p2.png"><br>
April 13 – April 21, 2013<br> 
River See @ Pillsbury House Theatre<br> 
Written and Composed by Sharon Bridgforth<br> 
Witness: Virginia Grise Dramaturge: Nia Witherspoon Lighting Designer:<br> 
Michael Wangen<br>
Environment Designer: Eyenga Bokamba<br> 
Prop Designer: Kellie Larson<br> 
Costume Designer: Clare Brauch<br> 
Production Stage Manager: Elizabeth R. MacNally<br> 
Producing Directors: Faye M. Price and Noel Raymond<br> 
Featuring: Sonja Parks, Kenna-Camera Cottman, Bro. Heru (William<br> 
Leah Nelson, Mankwe Ndosi, and Aimee Bryant.<br> 
Harris) aka Truth Maze,<br> 
(Photo Credit: Michal Daniel)<br> 
<strong>#15. Links Hall in Collaboration with University of Chicago<br> 
Rockefeller Memorial Chapel,</strong> The Theatre School at DePaul University<br> 
and The Ellen Stone Bellic Institute For The Study of Women And Gender<br> 
In The Arts And Media Columbia College Chicago<br>
Rockefeller Chapel, University of Chicago<br> 
@ UoC Rockefeller Chapel<br>
<img class="dev-image" src="{{ STATIC_URL }}img/dev-p3.png"><br>
5850 S Woodlawn Ave. Chicago, IL<br>
3/1/13 @ 7:30pm<br> 
Open to the public<br> 
Sharon Bridgforth – Writer/Composer<br> 
Emily Morse – Dramaturge<br> 
Nia Witherspoon – Singer/Witness<br> 
Sonja Parks – See<br> 
Featuring: Iya Fatola Osun Adesanya-Kerr, Marie Casimir, Senyo Ador,<br> 
Brian K. Thrower, Eden Sabala, Nadia Chana, LaTonya Brown, Elizabeth<br> 
Davenport, Viktor Le, Nani Ramaknshnan. Shu Shubat – Singing Bowls.<br> 
Epic Arts (Choir): Robert Walker, Trina Chaney, Corey McDonald,<br> 
Velvet Gunn. Deeply Rooted Dance Theater Company Members:<br> 
Kathleen Purcell Turner, Joshua L. Ishmon, Adriene Patrice Barber,<br> 
Artistic Director Kevin Iega Jeff. Stage Manager: Megan Bero.<br> 
(Photo Credit: Mathew Gregory Hollis, courtesy of Links Hall)<br> 
<strong>#14. Presented by Black Studies Suite UT Austin and allgo</strong><br>
University Of Texas at Austin @ Anna Hiss Gym<br>
<img class="dev-image" src="{{ STATIC_URL }}img/dev-p4.png"><br>
February 23, 2013 4PM. Free. Open to the public.<br> 
Sharon Bridgforth – Writer/Composer<br>  
Omi Osun Joni L. Jones – Witness<br>  
Featuring: Florinda Bryant, Lyndon Gill, Ni’Ja Whitson, Seyi Adebanjo,<br>  
Charles Anderson, Matt Richardson, Chery Tshepo, M’Bewe Ninoska<br>  
Omi Osun Joni L. Jones,<br>  
Escobar and DeAnna Howard.<br>  
Stage Manager: Natalie Goodnow.<br>  
<strong>#13. Presented by The Theater Offensive</strong><br>  
3PM – 4PM on Saturday January 26th and Sunday January 27th, 2013<br>
<img class="dev-image" src="{{ STATIC_URL }}img/dev-p5.png"><br>
United South End Settlements/Harriet Tubman House<br>
(Boston’s South End, at the corner of Columbus and Mass Ave)<br>
566 Columbus Avenue, Boston, MA.<br>
Sharon Bridgforth – Writer/Composer.<br> 
Djola Branner – SEE.<br> 
Robbie McCauley – Witness.<br> 
Nia Witherspoon & Misha Chowdhury – Singers.<br> 
Featuring: Antonieta Gimeno, Anzel Miller, Camille Owens, Christina<br> 
Marin, Christina Twicken, Justice Williams, Kaamila Mohamed, Lise<br> 
Sheldon Brown, Siobhan Brown, TJ Johnson, Wendy Kinal, Zohar Fuller.<br>
<strong>#12) Links Hall in Collaboration with South side Community<br>
Art Center and The Theatre School at DePaul University.</strong><br> 
Brody, Nancy McGee, Nyx Zierhut, Serge Rosiles,<br>
12/5/12 & 12/6/12 7PM Open to the public.<br>
<img class="dev-image" src="{{ STATIC_URL }}img/dev-p6.png"><br>
Sharon Bridgforth – Writer/Composer. Sonja Parks – See. Featuring: Omi<br> 
Osun Joni L. Jones, JeNae Taylor, Armand Field and Deeply Rooted<br> 
Dance Company Members: Joshua Ishmon, Kathleen Turner and Adriene Barber<br> 
Post show talk Facilitator: Omi Osun Joni L. Jones<br> 
@ South Side Community Art Center<br> 
3831 South Michigan Avenue. Chicago, IL.<br>
<strong>#11) Pillsbury House Theatre (MLPS)</strong> 
11/07/12 3PM (invited audience)<br> 
Sharon Bridgforth – Writer/Composer. Sonja Parks – See.<br> 
Featuring: Mankwe Ndosi & Aimee Bryant – Singers. With: Mire<br> 
Regulus, Molly Van Avery and Rebecca Frost! Photos by Chrys Carroll.<br>
<strong>#10) New Dramatists/Creativity Fund</strong><br> 
9/14/12 2PM & 9/15/12 1PM<br>
<img class="dev-image" src="{{ STATIC_URL }}img/dev-p7.png"><br>
At New Dramatists: 424 West 44th Street, New York, NY 10036<br> 
Sharon Bridgforth – Writer/Composer. McKenzie Frye – See. Featuring:<br> 
Virginia Grise, Ni’Ja Whitson, Katrina De Wees, Shelah Marie, Seyi<br> 
Adebanjo, Nia Witherspoon.<br> 
Jen Schiller – Stage Manager<br>
<strong>#9) Links Hall with Deeply Rooted Dance Company and Columbia<br> 
College Dance Center</strong><br> 
4:30PM 9/4/12 & 9/6/12<br> 
At The Dance Center of Columbia College<br> 
1306 South Michigan Avenue, Studio 202, Chicago, IL<br> 
Sharon Bridgforth – Writer/Composer. Omi Osun Joni L. Jones – See.<br> 
Featuring: Joshua L. Ishmon, Adrienne Barber, Marie Casimir and<br> 
Carmenita Peoples.<br>
Saturday, May 26, 2012 • 6:00pm Hosted by E. Patrick Johnson &<br> 
Sharon Bridgforth Writer/Composing with the audience.<br> 
On program with E. Patrick Johnson, Marvin K. White, C. C. Carter,<br> 
<strong>#8) Poetry for the People Party!</strong><br> 
Stephen Lewis Chez Vincennes, Chicago, IL.<br> 
Tim’m West and Javon Johnson.<br>
<strong>#7) The Theatre School at DePaul University (Lincoln Park)</strong><br> 
2135 N. Kenmore Ave., Chicago, IL. 60614<br> 
Sponsored by Links Hall<br>
<img class="dev-image" src="{{ STATIC_URL }}img/dev-p8.png"><br>
2PM-3PM April 20 & 21, 2012<br>
Sharon Bridgforth – Writer/Composer. Sonja Parks – See<br> 
Featuring: Onye Ozuzu, Omi Osun Joni L. Jones, Ni’Ja Whitson and<br> 
Carmenita Peoples. With Krenee Tolson, Lydia Brown, and Amandi Pate<br> 
on 4/20 and with Celeste Cooper, and with Tiffany Oglesby on 4/21.<br> 
(Photo Credit: Mark Corece)<br>
<strong>#6) Feminist Action Project Conference</strong><br>
<img class="dev-image" src="{{ STATIC_URL }}img/dev-p9.png"><br>
8PM March 31, 2012, @ Utopia Theatre, School of Social Work<br> 
Florinda Bryant – SEE. Omi Osun Joni L. Jones – Movement.<br> 
@ The Jeffery Pub, 7041 S. Jeffery Ave. Chicago, IL.<br> 
Sharon Bridgforth Writer/Composing the audience.<br> 
University of Texas Austin<br> 
1925 San Jacinto Blvd., Austin, TX, 78712<br> 
Sharon Bridgforth Writer/Composer<br> 
(Photo Credit: Bret Brookshire)<br>
<strong>#5) P.O.W. W.O.W. Inc.</strong><br> 
Tuesday March 13, 7:30 pm. $5.<br> 
Omi Osun Joni L. Jones – See<br>
<strong>#4) Produced by Links Hall &<br>
The Reva and David Logan Center for the Arts</strong><br>
<img class="dev-image" src="{{ STATIC_URL }}img/dev-p10.png"><br>
November 10, 2011 7PM-9PM<br> 
The University of Chicago. Bartlett Hall<br> 
Sharon Bridgforth Writer/Composing with the audience.<br> 
Sonja Parks – See<br> 
(Photo Credit: Celeste Cooper)<br>
<strong>#3) New Dramatists (closed reading) Playwrights Lab, NYC</strong>
March 23 & 24, 2011<br>
Daniel Alexander Jones – See.<br>
</strong>#2) John L.Warfield Center for African and African American Studies, University of Texas at Austin.</strong><br> 
February 20, 2011 6:00 PM<br>
Winship Drama Building Room 2.180<br> 
Sharon Bridgforth Writer/Composing with the audience.<br> 
Florinda Bryant – See.<br>
<strong>#1) John L.Warfield Center for African and African American</strong> 
Studies, University of Texas at Austin.<br>  
February 20, 2010 8:00 PM<br>
Winship Drama Building Room 2.180<br>
Sharon Bridgforth Composing with the audience.<br> 
Florinda Bryant – See.<br>
</p>

</body>

</html>
