 <!DOCTYPE HTML>

<html lang="en">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/main.css">

    <title>River See Development</title>

</head>

<body>

<p class="dev-content-inner">
<img class="dev-image" src="{{ STATIC_URL }}img/pr-p1.png"><br><br>
<strong>2014 River See Theatrical Jazz Performance Installation<br> 
A National Performance Network (NPN) Residency</strong><br>
World Premiere @ Links Hall in Chicago<br>
Preview: June 19, 7PM<br>
June 22 3PM, June 27 – 28 7PM, June 29 3PM.<br>
solo/black/woman book party @ River See: June 21)<br> 
Roell Schmidt/Links Hall – Executive Producer<br> 
Performances: June 20 -21 7PM,<br>
(Post Show Celebration: June 20<br>
Sharon Bridgforth – Writer/Composer<br>
Sonja Parks – SEE<br> 
Mankwe Ndosi and Nia Witherspoon – Spirit Guides (Singers)<br> 
Ni’Ja Whitson Adebanjo and Jasmine Johnson – Egun (Dancers)<br> 
Marie Casimir – Grand Marshall (leads the Second Line)<br> 
Omi Osun Joni L. Jones – Environment Designer<br> 
Simply Epic Choir – Choir<br>
Margaret Nelson – Lighting Designer<br> 
Cydney Cleveland – Lighting Technician<br> 
Elizabeth MacNally – Production Manager<br>
Arielle Julia Brown – River See Company Manager<br><br>
<strong>BIOS</strong><br><br>
<img class="pr-image" src="{{ STATIC_URL }}img/pr-p2.png"><br><br>
Sharon Bridgforth - Writer/Composer<br><br>
Sharon is a resident playwright at New Dramatists since 2009. Visiting faculty at the 
University of Iowa’s Playwrights Program; The Department of Performance Studies at 
Northwestern University; and the Theatre School at DePaul University Bridgforth is 
founder and curator of the Theatrical Jazz Institute, produced by The Theatre School at DePaul and Links Hall in Chicago, 2011-2012. RedBone Press author of love conjure/
blue and the Lambda Literary Award-winning the bull-jean stories her piece deltadandi, is published in solo/black/woman, Eds. E. Patrick Johnson and Ramon Rivera-Servera, 
Northwestern University Press. Bridgforth, Omi Osun Joni L. Jones and Lisa L. Moore 
are co-editors of Experiments in a Jazz Aesthetic: Art, Activism, Academia, and the 
Austin Project, University of Texas Press.<br><br>
<img class="pr-image" src="{{ STATIC_URL }}img/pr-p3.png"><br><br>
Sonja Parks – SEE<br>
An accomplished actor, Sonja has been a featured performer with many notable venues 
including: The Public Theatre, The Royal Shakespeare Company-London, The Kennedy 
Center, Playwrights’ Horizon, & The Guthrie Theatre. She trained at UT-Austin, Dance 
Theater of Harlem & The National Black Theater under Dr. Barbara Ann Teer. She is an 
NEA & McKnight Artist Fellow; has extensive television, commercial and film credits; 
has served on several national arts panels; been a featured artist in Time Magazineand 
named one of “Seven Artists You Must See” by American Theatre Magazine. Currently, 
she teaches acting at the University of Minnesota.<br><br>
<img class="pr-image" src="{{ STATIC_URL }}img/pr-p4.png"><br><br>
Ni’Ja Whitson Adebanjo – Egun (Dancer)<br><br>
Ni’Ja is a visual and performing artist, and full-time lecturer at Lehman College in New York. Recognitions include a Creative Capital “On Our Radar” award, Movement Research artist in residency, Vermont Studio Center residency and an MFA Fellowship Award from the School of the Art Institute of Chicago.<br><br>
<img class="pr-image" src="{{ STATIC_URL }}img/pr-p5.png"><br><br>
Marie Casimir – Grand Marshall (leads the Second Line)<br>
Marie is a Haitian-American writer and performer interested in the straddling of multiple cultures, languages and responsibilities that exist within her body and yours. Her approach to storytelling expresses a deep connection to Afro-Caribbean roots. Her work has appeared at Dance Union and Links Hall. She participate in Sharon Bridgforth’s Theatrical Jazz Institute in 2012.<br><br>
<img class="pr-image" src="{{ STATIC_URL }}img/pr-p6.png"><br><br>
Jasmine Elizabeth Johnson – Egun (Dancer)<br>
Jasmine is a Postdoctoral Fellow in African American Studies at Northwestern University. A Ford Foundation Diversity Fellow, she earned her Ph.D. in African Diaspora Studies at UC Berkeley. Johnson has performed internationally and was most recently an ensemble member with Muntu Dance Theater of Chicago. She is a founding member of The Collegium for African Diaspora Dance.<br><br>
<img class="pr-image" src="{{ STATIC_URL }}img/pr-p7.png"><br><br>
Mankwe Ndosi – Spirit Guide (Singer)<br>
Mankwe works the Twin Cities, Chicago and internationally as a musicmaker and cultural catalyst. She weaves performance genres including improvised music, acapella rhythm and harmonies, hip-hop, afro soul, dance, performance art, and sung prayer/ritual. She infuses creative practice into healing, sustainable economic development, education, and new village community building.<br><br>
<img class="pr-image" src="{{ STATIC_URL }}img/pr-p8.png"><br><br>
Nia Witherspoon – Spirit Guide (Singer)<br>
Nia is a multidisciplinary artist-scholar passionate about social justice and spiritual transformation. Nia received her PhD from Stanford, and currently teaches on race, gender, sexuality, and performance at Florida State University. Nia is a published author, and her work has been recognized by the Mellon Foundation, Theatre Bay Area, and the Downtown Urban Theatre Festival.<br><br>
<img class="pr-image" src="{{ STATIC_URL }}img/pr-p9.png"><br><br>
Omi Osun Joni L. Jones – Environment Designer<br>
Omi is an artist/scholar and an Associate Professor of Performance Studies in the African and African Diaspora Studies Department at the University of Texas at Austin. Her performances include “sista docta”—a critique of the academy, and “Searching for Osun”—a performance ethnography around Yoruba identity. She is co-editor—with Sharon Bridgforth and Lisa Moore—of Experiments in a Jazz Aesthetic: Art, Activism, Academia, and the Austin Project, and is completing Theatrical Jazz: Performance, Ase, and the Power of the Present Moment which is forthcoming from Ohio State University Press.<br><br>
<img class="pr-image" src="{{ STATIC_URL }}img/pr-p10.png"><br><br>
Arielle Julia Brown – Company Manager<br>
Arielle is a playwright, arts administrator and facilitator currently based in the SF Bay Area. Arielle is the company manager for Sharon Bridgforth’s Conjure Productions. Arielle is the founder and director of The Love Balm Project. Arielle is also a 2014 Artist in Residence with The Triangle Lab of Intersection for the Arts and California Shakespeare Theatre. Arielle is the 2013-2014 Fellowship Program Director for SF Emerging Arts Professionals.<br><br>

Elizabeth MacNally – Stage Manager<br>

Elizabeth is thrilled to be part of River See company again. Elizabeth lives in Minneapolis, where she is the production manager for Pillsbury House Theatre. As production manger she has worked many productions including Daniel Alexander Jones’Jomama Jones, Tracey Scott Wilson’s Buzzer, Marcus Gardley’s the road weeps, the well runs dry and is looking forward to finishing Tarrell McCraney’s Brother Sister trilogy this fall.<br><br>

<strong>River See Theatrical Jazz Installation Tour:<br>
Featuring Sonja Parks, Djola Branner, Nyx Zierhut and more!<br>
The Theater Offensive in Boston, MA.<br><br>
River See NPN Performance Residency <br>
November 10 – 16, 2014 Details sooncome.<br>
River See NPN Performance Residencies @<br>
Diaspora Vibe Cultural Arts Incubator (Miami)<br>
and Living Arts Tulsa TBA.</strong>


</p>

</body>

</html>




